.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: max(50vw,50vh);
    height: max(50vw,50vh);
    margin-left: max(23vw,23vh);
    border: 1px solid black;
}
.container>div{
    display: grid;
}
.black-space{
    background-color: black;
}

#knight{
    z-index: 1;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: 5px solid black;
    background-color: white;
    justify-self: center;
    align-self: center;
}